extends layout

block content  
  .jumbotron.jumbotron-image
    h1 Welcome to #{title}
    p Some posts from the block.

  .col-md-11.col-md-push-1
    if(posts && posts.length > 0)
      each post in posts
        .row
          .post-section
            h1
              a(href='/post/' + post._id)= post.title
            .glyphicon.glyphicon-time   
            span  Posted on 
              span= moment(post.date).format('dddd DD.MM.YYYY')
            p !{post.content}
            h3 
              u Comments  
                .badge=post.comments.length
            hr
            //- .col-md-offset-1
            //-   each comment in underscore.first(post.comments, 3)
            //-     .media
            //-       .media-body
            //-         h4.media-heading=comment.author
            //-         small= moment(comment.date).format('MMMM DD YYYY hh:mm A')   
            //-       span=comment.content
            //- hr